@font-face {
  font-family: 'HeadingNow';
  src: local('HeadingNow'),
  url('../assets/fonts/HeadingNow.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'),
  url('../assets/fonts/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'),
  url('../assets/fonts/Inter-Regular.ttf') format('opentype');
}